* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0 auto;
    min-height: 100svh;
}

h1 {
    margin-top: 4rem;
    text-align: center;
}

.grid {
    margin-top: 10%;
    margin-inline: auto;
    max-width: 80vw;
    min-height: 50svh;
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    grid-auto-rows: 1fr;
    grid-template-areas:
        "one one one four"
        "two three three aside"
        "six three three aside"
        "seven seven eight aside";
    gap: .7rem;
    /* grid-auto-flow: row; */

}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 5px black;
    font-size: clamp(1rem, 2vw, 2rem);
    text-transform: uppercase;
}

.one {
    background-color: red;
    grid-area: one;
    /* grid-column-start: 1;
    grid-column-end: 3; */
}

.two {
    background-color: purple;
    grid-area: two;
    /* grid-column: 3 / 5 */
}

.three {
    background-color: yellow;
    grid-area: three;
    /* grid-row-start: 2;
    grid-row-end: 4; */
}

.four {

    background-color: blue;
    grid-area: four;
    /* grid-column: 4 / 5; */
}

.five {
    background-color: salmon;
    grid-area: aside;
    /* grid-column: 2 / 4; */
}

.six {
    background-color: chocolate;
    grid-area: six;
}

.seven {
    background-color: aqua;
    /* grid-column: 1 / 5;
    grid-row: 4 / 6; */
    grid-area: seven;
}

.eight {
    background-color: darkgreen;
    /* grid-column: 2 / 4;
    grid-row: 2 / 3; */
    grid-area: eight;
}